@import 'fonts.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat';
    font-weight: 400;
}

.container {
     max-width: 1320px;
     width: 100%;
     margin: 0 auto;
     padding: 0 15px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    &__search {
        display: flex;
        align-items: center;
        gap: 25px;

        & input {
            outline: none;
            border: none;
            border-radius: 10px;
            background: rgba(71, 147, 255, 0.2);

            padding: 9px 20px;
            width: 300px;

            font-weight: 500;
            font-size: 16px;
            color: #000;
        }
    }
}

.logo {
    display: flex;
    gap: 20px;
    align-items: center;

    & span {
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        text-transform: uppercase;
        color: #4793FF;
    }
}


.main {

    &__content {
        display: grid;
        grid-template-columns: 450px auto;
        gap: 50px;
        margin-top: 30px;

        &_left {
            box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
            background: #fff;
            padding: 20px;
            border-radius: 20px;
            position: relative;
            width: 100%;

            &-title {
                font-weight: 500;
                font-size: 96px;
                color: #4793ff;
            }

            & img {
                position: absolute;
                top: 45px;
                right: 20px;
            }

            &-text {
                font-size: 40px;
                color: #000;
                margin-bottom: 30px;
            }

            &-time,
            &-city {
                font-size: 25px;
                color: #939cb0;
            }

            &-city {
                margin-top: 14px;
            }

        }

        &_right {
            box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
            background: #fff;
            border-radius: 20px;
            padding: 42px 31px;
            position: relative;

            display: flex;
            flex-direction: column;
            gap: 24px;

            &-item {
                display: flex;
                align-items: center;
                gap: 20px;

                & span {
                    max-width: 96px;
                    width: 100%;

                    font-size: 14px;
                    color: #939cb0;
                }

                & p {
                    font-size: 14px;
                    color: #000;
                    z-index: 1;
                }

                &-img {
                    width: 38px;
                    height: 38px;
                    border-radius: 100%;
                    fill: #fff;
                    box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &-bg {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}


.app {
    position: relative;
    height: 100vh;
}


.loader__box {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translateY(-50%), translateX(-50%);
}


.loader {

    width: 108px;
    height: 60px;
    color: #269af2;
    --c: radial-gradient(farthest-side,currentColor 96%,#0000);
    background: 
      var(--c) 100% 100% /30% 60%,
      var(--c) 70%  0    /50% 100%,
      var(--c) 0    100% /36% 68%,
      var(--c) 27%  18%  /26% 40%,
      linear-gradient(currentColor 0 0) bottom/67% 58%;
    background-repeat: no-repeat;
    position: relative;
  }
  .loader:after {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    opacity: 0.4;
    animation: l7 1s infinite;
  }
  @keyframes l7 {
    to {transform:scale(1.8);opacity:0}
  }